@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

html {
 scroll-behavior: smooth;
}

body {
 font-family: 'Nunito', sans-serif;
 background-color: rgb(2, 43, 80);
 color: aliceblue;
}

p, a , button {
 color: aliceblue;
}

a, button {
 transition: all 400ms ease-in-out;
}

/* N A V */
#nav {
 display: flex;
 justify-content:space-around;
 align-items: center;
 height: 50px;
}

#nav-links {
 display: flex;
 list-style-type: none;
 gap: 2rem;
 font-size: 18px;
}

a {
 text-decoration: none;
 color: rgb(201, 223, 241);
 transition: all 0.3s;
}

.nav-link:hover {
 text-decoration: underline;
 text-underline-offset: 5px;
 color: white;
 text-decoration-color: white;
}

#logo {
 font-size: 30px;
 cursor: default;
}

#mobile-nav {
 display: none;
}

@media screen and (max-width: 800px) {
 #nav {
  display: none;
 }
 #mobile-nav {
  display: flex;
  flex-direction: column;
  position: relative;
 }
}

#mobile-nav {
 background-color: orange;
}

.hamburger-menu {
 background:rgba(3, 44, 80, 0.9);
 z-index: 1000;
}

.logo-menu {
 display: flex;
 width: 100%;
 justify-content: space-around;
 align-items: center;
}

.hamburger-menu {
 height: 100vh;
 display: flex;
 justify-content: center;
 transform: translateX(-100%);
 position: absolute;
 right: 0;
 top: 0;
 width: 100%;
}

#links {
 margin-top: 150px;
 width: 100%;
 text-align: center;
}

.hamburger-menu  li {
 list-style-type: none;
 font-size: 25px;
 margin: 30px 0px;
 width: 100%;
}

.mobile-link:hover {
 background-color: white;
 letter-spacing: 2px;
 transition: .2s;
}

/*  F O O T E R  */
footer {
 background-color: rgba(2, 36, 66, 0.9);
 box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
 color: aliceblue;
 width: 100%;
 position: absolute;
 bottom: 0;
 display: flex;
 justify-content: center;
 align-items: center;
}

footer p {
 margin: 10px 30px;
}

